body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
}

.hero{
  text-align:center;
  padding:60px 20px;
}

.searchBox{
  margin-top:20px;
}

input{
  padding:10px;
  width:250px;
  border-radius:6px;
  border:none;
}

button{
  padding:10px 16px;
  margin-left:8px;
  border:none;
  border-radius:6px;
  background:#3b82f6;
  color:white;
  cursor:pointer;
}

.clearBtn{
  background:#ef4444;
}

.container{
  max-width:900px;
  margin:auto;
}

.movieCard{
  display:flex;
  gap:20px;
  background:#1e293b;
  padding:20px;
  border-radius:10px;
}

.movieCard img{
  width:150px;
  border-radius:8px;
}

.insightBox{
  margin-top:20px;
  background:#1e293b;
  padding:20px;
  border-radius:10px;
}

.review{
  margin-top:10px;
  background:#1e293b;
  padding:15px;
  border-radius:8px;
}